<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.0.0" targetFramework="net45" userInstalled="true" />
  <package id="Common.Logging.Core" version="3.0.0" targetFramework="net45" userInstalled="true" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net45" userInstalled="true" />
  <package id="Quartz" version="2.3.3" targetFramework="net45" userInstalled="true" />
  <package id="Topshelf" version="3.2.0" targetFramework="net45" userInstalled="true" />
  <package id="Topshelf.Ninject" version="0.4.0.0" targetFramework="net45" userInstalled="true" />
</packages>