<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DumpDirectory" value="C:\eddb" />
    <add key="MongoDbConnectionString" value="mongodb://{username}:{password}@localhost:27017/eddb" />
    <add key="MongoDatabase" value="eddb" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>